<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>BC</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="js/jquery-3.3.1.slim.min.js.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<link href="css/common.css" rel="stylesheet">
<script src="js/common.js"></script>
</head>

<body>
<div id="wrap">
	<!-- 2019-07-29 -->
	<div class="qrkit-export-box2">		
		<img src="images/qr_export2.png" alt="" class="img-full">
		<div class="top-logo"><img src="images/qrpay2.png" alt="카드사 공통 QR pay" class="img-full"></div>
		<div class="qr-code"><img src="images/qrpay_qr.png" alt="QR코드" class="img-full"></div>
		<p class="store-name">가맹점명</p>
		<div class="card-group-box">
			<p class="txt">카드사앱으로 결제하세요.</p>
			<div class="row align-items-center">
				<div class="col"><a href="#"><img src="images/btn_pay.png" alt="페이북"></a></div>
				<div class="col"><a href="#"><img src="images/btn_life.png" alt="롯데카드"></a></div>
				<div class="col"><a href="#"><img src="images/btn_fan.png" alt="신한"></a></div>
				<div class="col"><a href="#"><img src="images/btn_1q.png" alt="하나"></a></div>
				<!-- 2021-07-29 삭제
				<div class="col"><a href="#"><img src="images/btn_hyundai.png" alt="현대카드"></a></div>
				-->
				<div class="col"><a href="#"><img src="images/btn_kb.png" alt="KB국민카드"></a></div><!--// 2021-07-29 -->
			</div>
		</div>	
	</div>
	<!--// 2019-07-29 -->
</div>
</body>
</html>