<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>BC</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="js/jquery-3.3.1.slim.min.js.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<link href="css/common.css" rel="stylesheet">
<script src="js/common.js"></script>
</head>

<body>
<div id="wrap">
	<div class="qrkit-export-wrp">
		<div class="container">
			<div class="text-center">
				<h1 class="main-tit">QR이미지를 인쇄하여 매장에서 사용하세요!</h1>
				<p class="sub-tit">APP 없이도 QR결제가 가능합니다.</p>
			</div>
			<div class="qrkit-export-box">
				<!-- 2019-07-15 -->
				<img src="images/qr_export.png" alt="카드사 공통 QR pay" class="img-fluid">
				<p class="store-name">가맹점명</p>
				<div class="card-group-box">
					<p class="txt">카드사앱으로 결제하세요.</p>
					<div class="row align-items-center">
						<div class="col"><a href="#"><img src="images/btn_pay.png" alt="페이북"></a></div>
						<div class="col"><a href="#"><img src="images/btn_life.png" alt="롯데카드"></a></div>
						<div class="col"><a href="#"><img src="images/btn_fan.png" alt="신한"></a></div>
						<div class="col"><a href="#"><img src="images/btn_1q.png" alt="하나"></a></div>
						<div class="col"><a href="#"><img src="images/btn_kb.png" alt="KB국민카드"></a></div><!--// 2021-07-29 -->
					</div>
				</div>
				<!--// 2019-07-15 -->
			</div>
		</div>
	</div>
	<div class="btm-fixed-btn row">
		<div class="col"><a class="btn btn-line btn-block" href="#">취소</a></div>
		<div class="col"><a class="btn btn-primary btn-block" href="#">내보내기</a></div>
	</div>
</div>
</body>
</html>