<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>BC</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <script src="js/jquery-3.3.1.slim.min.js.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link href="css/common.css" rel="stylesheet" />
    <script src="js/common.js"></script>
  </head>

  <body>
    <div id="wrap">
      <!-- header -->
      <header id="hd">
        <div class="container">
          <button type="button" class="icon-back">이전 페이지 이동</button>
          <h1>QR키트 신청</h1>
          <button type="button" class="icon-menu01">메뉴열기</button>
        </div>
      </header>

      <!-- container -->
      <div id="ct">
        <!-- 페이지 시작 -->
        <div class="cnt-btm-wrp">
          <div class="qrkit-compl-wrap">
            <h2 class="tit01">QR키트 신청이 완료되었습니다.</h2>
            <p class="desc01">(제작 및 배송까지 약 5~10영업일 소요됩니다.)</p>
            <h2 class="tit01 mt35">알아두세요!</h2>
            <h3 class="tit02 mt15">추가 신청</h3>
            <p class="desc01 mt5">QR키트는 가맹점당 3번까지 신청 가능합니다. 추가 신청이 필요한 경우, BC QR 가맹점 상담센터(02-330-5777)로 문의해주세요.</p>
            <!-- 2019-07-29 숨김
				<h3 class="tit02 mt15">배송 조회</h3>
				<p class="desc01 mt5">QR키트의 배송 상황을 앱에서 조회할 수 있습니다. '<span class="icon-menu-small">오른쪽 상단 햄버거 메뉴</span> &gt; QR키트 배송조회' 메뉴에서 확인하세요.</p>-->
          </div>
          <div class="btm-fixed-btn">
            <a href="#" class="btn btn-primary btn-block">확인</a>
          </div>
        </div>
        <!--// 페이지 끝 -->
      </div>
    </div>
  </body>
</html>
