<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>BC</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="js/jquery-3.3.1.slim.min.js.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<link href="css/common.css" rel="stylesheet">
<script src="js/common.js"></script>
</head>

<body>
<div id="wrap">
	<!-- header -->
	<header id="hd">
		<div class="container">
			<button type="button" class="icon-back">이전 페이지 이동</button>
			<h1>결제 내역</h1>
			<a class="icon-home" href="/">홈으로 이동</a>
		</div>
	</header>
	
	<!-- container -->
	<div id="ct">
<!-- 페이지 시작 -->
<div class="container">
	<div class="ft-txt-wrp">
		<table class="tb-paydetail">
			<tbody>
				<tr class="price">
					<th>결제금액</th>
					<td>
						<span class="price-txt-wrp del">
							<strong class="font-lato">9,600</strong><span>원</span>
						</span>
					</td>
				</tr>
				<tr>
					<th>브랜드</th>
					<td>은련</td>
				</tr>
				<tr>
					<th>거래일시</th>
					<td>2018-08-18 12:10:01</td>
				</tr>
				<tr>
					<th>승인번호</th>
					<td>77745843</td>
				</tr>
				<tr>
					<th>카드번호</th>
					<td>****************</td>
				</tr>
				<tr>
					<th>할부정보</th>
					<td>일시불</td>
				</tr>
				<tr>
					<th>거래고유번호</th>
					<td>346862645468</td>
				</tr>
				<tr>
					<th>Voucher No. (凭证号) <button type="button" class="icon-help ml5">도움말</button></th>
					<td>은련만 노출</td>
				</tr>
				<tr>
					<th>할인 전 금액</th>
					<td>할인 시 노출</td>
				</tr>
				<tr>
					<th>할인 금액</th>
					<td>할인 시 노출</td>
				</tr>
				<tr>
					<th>할인 후 금액</th>
					<td>할인 시 노출</td>
				</tr>
				<tr>
					<th>승인상태</th>
					<td>취소완료</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="bx-gray-id h6">
	<span>추가 문의 사항은<br>BC QR결제 가맹점 상담센터(<a href="tel:02-330-5777">02-330-5777</a>)를 이용해주세요.</span>
</div>
<!--// 페이지 끝 -->
	</div>
</div>
</body>
</html>