<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>BC</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/jquery-3.3.1.slim.min.js.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link href="/css/common.css" rel="stylesheet" />
    <script src="/js/common.js"></script>
    <script src="/js/password-modal.js"></script>
  </head>

  <body>
    <div id="wrap">
      <!-- header -->
      <header id="hd">
        <div class="container">
          <button type="button" class="icon-back" onclick="goBack()">이전 페이지 이동</button>
          <h1>공지사항</h1>
          <a class="icon-home" href="javascript:void(0)" onclick="goHome()">홈으로 이동</a>
        </div>
      </header>

      <!-- container -->
      <div id="ct">
        <!-- 페이지 시작 -->
        <div class="notice-wrap">
          <div class="container">
            <ul class="list-notice">
              <!-- 2021-09-09 -->
              <li>
                <a href="#">
                  <p class="tit">비씨카드 인터넷 서버 교체작업에 따른 서비스 일시 제한 안내</p>
                  <!--// 2021-09-13 -->
                  <p class="date">2021.09.14</p>
                </a>
              </li>
              <!--// 2021-09-09 -->
              <!-- 2021-07-29 -->
              <li>
                <a href="#">
                  <p class="tit">현대카드의 가맹점 앱투앱 결제서비스 종료 안내</p>
                  <p class="date">2021.08.05</p>
                </a>
              </li>
              <!--// 2021-07-29 -->
              <!-- 2019-12-10 -->
              <li>
                <a href="#">
                  <p class="tit">비씨카드 전산시스템 교체작업에 따른 서비스 일시 제한 안내</p>
                  <!-- 2019-12-12 -->
                  <p class="date">2019.00.00</p>
                </a>
              </li>
              <!--// 2019-12-10 -->
              <li>
                <a href="#">
                  <p class="tit">가맹점 앱투앱 결제서비스 약관 개정 안내</p>
                  <p class="date">2019.00.00</p>
                </a>
              </li>
              <li>
                <a href="/html/notice-19n1-191001.html">
                  <p class="tit">가맹점 앱투앱 결제서비스 약관 개정 안내</p>
                  <p class="date">2019.10.01</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
  <style></style>
</html>
