<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>BC</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="js/jquery-3.3.1.slim.min.js.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<link href="css/common.css" rel="stylesheet">
<script src="js/common.js"></script>
</head>

<body>
<div id="wrap">
	<div class="qr-compl-wrap">
		<div class="qr-compl-cont">
			<h1 class="cont-tit">결제가 완료되었습니다.</h1>
			<div class="photoline-box">
				<div class="photoline-top"></div>
				<div class="box-conts">
					<div class="money">12,000  원 / <span class="month">일시불</span></div>
					<p class="store-name">업체명</p>
				</div>
				<div class="photoline-bot"></div>
			</div>
		</div>
	</div>
	<div class="btm-fixed-btn">
		<a class="btn btn-primary btn-block" href="#">확인</a>
	</div>
</div>
</body>
</html>