<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>BC</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="js/jquery-3.3.1.slim.min.js.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<link href="css/common.css" rel="stylesheet">
<script src="js/common.js"></script>
</head>

<body>
<div id="wrap">
	<!-- header -->
	<header id="hd">
		<div class="container">
			<button type="button" class="icon-back">이전 페이지 이동</button>
			<h1>회원가입 - BC카드 가맹점 확인</h1>
			<a class="icon-home" href="/">홈으로 이동</a>
		</div>
	</header>
	
	<!-- container -->
	<div id="ct">
<!-- 페이지 시작 -->
<div class="cnt-btm-wrp">
	<ol class="lst-step-circle">
		<li>1단계</li>
		<li>2단계</li>
		<li>3단계</li>
		<li>4단계</li>
		<li class="active">5단계</li>
	</ol>
	<div class="container">
		<div class="frm pt50">
			<div class="form-group">
				<span class="tit">아이디</span>
				<div class="pr">
					<input type="text" class="form-control pr60" placeholder="아이디를 입력해주세요">
					<button type="button" class="btn-pos-right">중복확인</button>
				</div>
				<small class="form-text text-muted fw300">4~12자리의 영문/숫자/영문+숫자 조합</small>
			</div>
			<div class="form-group">
				<span class="tit">비밀번호</span>
				<input type="password" class="form-control" placeholder="숫자 6자리">
				<small class="form-text text-muted fw300">v 6자리 v 동일/연속 3자리 이상 입력불가</small>
			</div>
			<div class="form-group">
				<span class="tit">비밀번호 확인</span>
				<input type="password" class="form-control" placeholder="숫자 6자리">
			</div>
			<div class="form-group">
				<span class="tit">E-mail 주소</span>
				<input type="text" class="form-control" placeholder="E-mail 주소를 입력해주세요">
			</div>
			<div class="form-group">
				<span class="tit">추천인 코드(선택)</span>
				<input type="text" class="form-control" placeholder="코드를 입력해주세요">
			</div>
		</div>
	</div>
	
	<div class="btm-fixed-btn">
		<a class="btn btn-muted btn-block" href="#">가입완료</a>
<!--		<a class="btn btn-primary btn-block" href="#">가입완료</a> 활성화-->
	</div>
</div>
<!--// 페이지 끝 -->
	</div>
</div>
</body>
</html>